@import "tailwindcss";


@theme {
  --color-background: var(--color-gray-100);
  --color-primary: var(--color-gray-900);
  --color-secondary: var(--color-gray-500);
  --color-accent: var(--color-blue-500);
  --color-light: var(--color-white);
  --color-dark: var(--color-black);
  --color-hover: var(--color-gray-100)
}

body {
  background-color: var(--color-background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .active {
    @apply text-accent
  }

  .link {
    @apply cursor-pointer
  }

  .table-col {
    @apply px-4 py-2 text-left
  }
}